<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spot-Your-Train</title>
    <link rel="stylesheet" href="styles/statusStyles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" type="image/png" href="/images/train.png">
</head>
<body>
    <div class="loader"></div>
    {{>navbar}}

    <img src="images/bgimg.jpeg" alt="banner-image" class="banner-img">
    <img src="images/engine.png" alt="png" class="banner-line-img">
    <h1 class="banner-line">Spot Your Train</h1>

    {{!-- search box --}}
    <div class="headings">
        <div><a href="/" class="first">Between Stations</a></div>
        <div><a href="/status" class="second">Running Status</a></div>
    </div>

    <div class="search-box">
        <form>
            <div class="from-to">
                <label>Search by Train Number</label>
            </div>

            <input type="text" id="train-num" required placeholder="Enter Train No.">
            <button type="button" id="submit-btn">Search</button>
        </form>
    </div>

    <div class="container">
        <div class="title">
            Top Searches ->
        </div>
        <div class="row">
            12045 NEW DELHI - CHANDIGARH Shatabdi Express
        </div>
        <div class="row">
            12498 AMRITSAR - NEW DELHI Shan E Punjab SF Express
        </div>
        <div class="row">
            22439 - NEW DELHI - SMVD KATRA Vande Bharat Express
        </div>
    </div>

    <script src="scripts/statusScript.js"></script>
</body>
</html>