<header>
    <a href="/" class="logo"><i class="ri-train-fill"></i><span>Rail</span></a>

    <ul class="navbar">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/status" class="active2">Train-Status</a></li>
        <li><a href="/pnr-enquiry" class="active3">PNR-Status</a></li>
        <li><a href="/about" class="active4">About</a></li>
        
    </ul>
    <div class="menu-icon"><i class="ri-menu-line"></i></div>
</header>